body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    height: 210px;
    border: 3px solid blue;
}
h1 {
	font-size: 125%;
	color: blue;
	margin-top: 0;
	margin-bottom: .5em;
}
h2 {
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 1em;
}
label {
	float: left;
    width: 7em;
    text-align: right;
}
input {
    width: 12em;
    margin-left: 1em;
    margin-bottom: .5em;
}
span {
	color: red;
}
#elapsed {
	float: left;
	margin-left: 1 em;
}
#progressbar {
	height: 25px;
	width: 250px;
	float: left;
	margin-left: .8em;
}
#complete {
	float: left;
	margin-left: 1em;
	padding-bottom: 1em;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
